@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

body {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 30vw 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
}

main {
  position: absolute;
  width: 80vw;
  left: 10%;
  height: 70vh;
  top: 15%;
}

.cards-display {
  position: relative;
  height: 52vh;
  width: 40vw;
}

.card-back {
  position: absolute;
  right: 0;
  bottom: 0;
}

.test {
  position: absolute;
  color: white;
  top: 45%;
  right: 12%;
  font-size: 0.8em;
}

@media only screen and (max-width: 700px) {
  body {
    background-image: url("./images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100vw 27vh;
  }

  main {
    width: 90vw;
    left: 5%;
    height: 90vh;
    top: 5%;
  }

  .cards-display {
    height: 30vh;
    position: relative;
    width: 90vw;
  }
  .card-back {
    position: absolute;
    top: 0;
    right: 0;
  }

  .card-front {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .card-front > img, .card-back > img {
    width: 75vw;
  }

  .test {
    top: 28%;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-size: 100vw 25vh;
  }

  .cards-display {
    height: 24vh;
  }

  .test {
    font-size: 0.6em;
  }
}